/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    padding: 30px;
    width: 600px;
    margin: 0 auto;
}

/* heading */
.heading {
    font-family: 'Lobster Two', cursive;
    margin-bottom: 40px;
    font-size: 30px;
}

/* content */
.content {
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    color: rgb(197, 197, 197);
}

span {
    color: rgb(237, 93, 82);
}

/* form */
.form {
    font-family: 'Lato', sans-serif;
}

.form-part {
    display: flex;
    width: 500px;
    margin-top: 30px;
}

textarea,
select {
    border: solid black 1px;
    padding: 10px;
    flex: 1;
    opacity: 0.5;
}

input {
    flex: 1;
    height: 40px;
    border: solid black 1px;
    opacity: 0.5;
    padding: 10px;

}

.icon {
    width: 40px;
    height: 40px;
    border: solid black 1px;
    padding: 10px;
    background-color: black;
    color: white;
    opacity: 0.5;
}

.fa-message {
    height: 100%;
}


.check {
    margin-top: 20px;
    display: flex;
    width: 500px;
    justify-content: space-between;

}

button {
    background-color: #EA3F33;
    color: white;
    padding: 10px 50px;
    border: none;
    position: relative;
    bottom: 10px;
}

.form-part:hover select,
.form-part:hover .icon {
    opacity: 1;

}